:root{
  --bgImg: url("https://i.pinimg.com/originals/bb/08/e2/bb08e22dc2b427fb63596d364f6cbaf5.gif");

  --bgCol: #EDEADE;
  --fontCol: #333333;
  --logoCol: #C20B0B;
  --hlCol: #FF9A02;

  --slider-index: 0;

}

.container{
  width: 100%;
}

.slider{
  display: flex;
  width: 100%;
  overflow-x: hidden;

}

.slider > img{
  flex: 0 0 32%;
  max-width: 32%;
  aspect-ratio: 4/3;
  padding: 1rem;
  transform: translateX(-00%);
}

.handle{
  width: 5rem;
  background-color: red;
  z-index:10;
  margin: .25rem 0;
}
