:root{
  --bgImg: url("https://i.pinimg.com/originals/bb/08/e2/bb08e22dc2b427fb63596d364f6cbaf5.gif");

  --bgCol: #EDEADE;
  --fontCol: #333333;
  --logoCol: #C20B0B;
  --hlCol: #FF9A02;

}

/*Utility classes*/
.flex{
  display: flex;
  gap: var(--gap,1rem);
}
.grid{
  display: grid;
  gap: var(--gap,1rem);
}
.uppercase { text-transform: uppercase; }

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  overflow: hidden;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--logoCol);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--hlCol);
}


*,*::before,*::after{
  content: "";
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

/*If press the same link again, then it will be smooth when scrolling up*/
html{
  scroll-behavior: smooth;
  height:100%;
}

body{
  position: relative;
  display: flex;
  flex-direction: column;
  height:100%;
  /*background: var(--bgImg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}


.logo{
  padding: 20px 10px;
  max-width: 100%;
  overflow: hidden;
  width: auto;
  height:4em;

}




.btnStartGame{
  outline: none;
  width: 120px;
  margin: 0 auto;
  height: 40px;
  border-radius: 20px;
}

.btnStartGame::before{

}

.btnStartGame :hover{

}

.primary-header{
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: var(--bgCol);
  width: 100%;
}

.primary-navigation{
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 13pt;

  z-index: 10;
}

.primary-navigation li{
  display: inline-block;
  margin-right: 1em;
}

.primary-navigation a{

  color:var(--fontCol);
  text-decoration: none;

}


.mobile-nav-toggle{
  display: none;
}

@media(max-width: 35em){

  .primary-navigation{
    position: fixed;
    inset: 13% 0 0 5%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: min(30vh, 20rem), 2em;

    transform: translateX(-120%);
    transition: transform 350ms ease-out;
  }

  .primary-navigation li{
    margin-top: 1em;
  }

  .primary-navigation[data-visible="true"]{
    transform: translateX(0%);
  }

  .mobile-nav-toggle{
    display: block;
    position:absolute;
    z-index: 9999;
    background: url("../RES/img/nav_bars.png");
    background-repeat: no-repeat;
    width: 2rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
    border:0;
  }
}

.imgParallax1{
  /* The image used */
  background-image: url("https://steamuserimages-a.akamaihd.net/ugc/945094571616867748/680E4979CC75A2310664E0883F3F3FC6CBECA3BE/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false");

  /* Set a specific height */
  min-height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.imgParallax2{
  /* The image used */
  background-image: var(--bgImg);

  /* Set a specific height */
  min-height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.imgParallax3{
  /* The image used */
  background-image: url("https://i.imgur.com/6CUsznY.gif");

  /* Set a specific height */
  min-height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.sectionCard{
  position: relative;
  z-index: -1;
  height: 2000px;
  text-align: center;
  margin: 0 auto;
  padding: 9em 1em;
}

.sectionCard header{
  font-size: 36pt;
  font-weight: bolder;  
}

footer{
  justify-content: space-between;

  background-color: var(--bgCol);
  margin-top: auto;
  min-height: 100px;
}
