:root{
  --bgImg: url("https://i.pinimg.com/originals/bb/08/e2/bb08e22dc2b427fb63596d364f6cbaf5.gif");

  --bgCol: #EDEADE;
  --fontCol: #333333;
  --logoCol: #C20B0B;
  --hlCol: #FF9A02;

}



.imgPlaceholder{
  padding: 2em 2em;
  height: 50%;
  width: 50%;
}

.textPlaceholder{
  line-height: 1.5;
  justify-content: flex-start;
  align-items: baseline;
  text-align: justify;
  padding: 1em 1em;
  margin: 0 auto;
  margin-top: 0.5em;
  font-size: 13pt;
}

.changeLog{
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 4em 4em 4em 4em;
  margin: 5em 5em 5em 5em;
  border: 2px black dotted;
  border-radius: 10px;
}

.changeLog .title{
  font-size: 20pt;
}

.changeLog ul{
  margin-right: 1em;
}
